<template name="todosItem">
  <div class="list-item {{checkedClass}} {{editingClass}}">
    <label class="checkbox">
     <!--  <input type="checkbox" checked="{{checked}}" name="checked">
      <span class="checkbox-custom"></span> -->
      <span class="text"><strong>{{email}}</strong></span>
    </label>
	
    <input type="text" value="{{text}}" placeholder="Task name">
    <!-- <span class="date_time">{{date_time}}</span> -->
	<!-- <abbr class="timeago" title="createdAt"></abbr> -->
	
	<span>{{date_time1 createdAt}}</span>
    <a class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></a>
  </div>
</template>